/* Bullet Entry */
/* Variables */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* colors */
/* spacing */
/* Style Resets */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography - type scale */
html {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  color: #181A18;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

/* "double click to edit" message styling */
.edit-msg {
  right: 6rem;
  display: none;
  margin-bottom: 0.2rem;
  color: grey;
  font-size: 0.6rem !important;
  line-height: 0.6rem !important;
  text-align: right;
}

/* hover over bullet entry styling - show "double click to edit" message */
.entry:hover {
  margin-top: -0.8rem;
}

.entry:hover .edit-msg {
  display: block;
}

/* bullet entry styling */
.bullet-entry {
  width: 100%;
  margin: 0;
  border-radius: 0.25rem;
}

.bullet-entry:hover {
  background-color: #E5E5E5;
}

.bullet-entry:hover .fa-star {
  color: black;
}

.bullet-entry .task-bullet:hover {
  cursor: pointer;
}

.bullet-entry .fa-star-fill {
  color: black;
}

/* show star, delete button on hover */
.bullet-entry:hover > button:hover {
  color: black !important;
}

.bullet-entry:hover > select, .bullet-entry:hover > button {
  color: grey;
}

/* bullet input styling */
input[type=text], select, button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
}

/* show pointer cursor on buttons and selectors */
select, button {
  cursor: pointer;
}

input[type=text] {
  width: calc(100% - 6rem);
}

/* style selector */
select {
  width: 10%;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last: right;
}

/* hide buttons */
button {
  width: auto;
  color: transparent;
}

svg {
  height: 1em;
  width: 1em;
}

svg, input[type=text] {
  vertical-align: middle;
  display: inline-block;
}

/* dark mode */
.entry.dark-mode .bullet-entry {
  color: white !important;
}

.entry.dark-mode .bullet-entry:hover {
  background-color: #181A18;
}

.entry.dark-mode .bullet-entry:hover .fa-star {
  color: white;
}

.entry.dark-mode #bullet-inputted, .entry.dark-mode .fa-star-fill {
  color: white;
}
/*# sourceMappingURL=bulletentry.css.map */