/* Additional Entries - Malhar */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* colors */
/* spacing */
/* Begin styling addl button */
.active-bar {
  background: #FFA33F;
  height: 20vh;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vh 2vw 2vh 2vw;
  min-width: 300px;
  min-height: 100px;
  border-radius: 1rem;
  margin-left: 3vw;
}

.active-bar .close {
  text-align: left;
  font-size: 30px;
  color: black;
}

.active-bar .close:hover {
  cursor: pointer;
}

.active-bar .content {
  height: 13vh;
  width: 65%;
  min-width: 100px;
  background: white;
  border-radius: 1rem;
  margin-top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 1rem 3rem 1rem;
}

.active-bar .content:hover {
  overflow-x: auto;
}

.active-bar .new-entry {
  overflow: visible;
  width: 8rem;
  height: 10vh;
  margin-top: 3vh;
}

.active-bar .new-entry:hover {
  cursor: pointer;
}

.inactive-bar {
  width: 3vw;
  height: 3vw;
  min-width: 3vw;
  min-height: 3vw;
  margin: 0 1rem 2rem;
  background: transparent;
  border-radius: 1vw;
  padding: 0.2rem;
  float: right;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

.inactive-bar:hover {
  cursor: pointer;
}

#btn {
  height: 7vh;
  width: 7vh;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
}

#btn:hover {
  cursor: pointer;
}

*:focus {
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 15vh;
  background-color: black;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: black;
}

.dropdown-content span:hover {
  cursor: pointer;
  background: #4AB2D6;
}

/* Links inside the dropdown */
.dropdown-content span {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.editing {
  display: none;
  padding: 2rem;
  height: 75vh;
  width: 90%;
  min-height: 550px;
  min-width: 300px;
  margin-left: 3rem;
  background: #71B637;
  border-radius: 1rem;
}

.editing .close {
  font-size: 2rem;
  font-weight: bold;
}

.editing .close:hover {
  cursor: pointer;
}

.editing .close-edit {
  font-size: 2rem;
  font-weight: bold;
}

.editing .close-edit:hover {
  cursor: pointer;
}

.editing .text-content {
  margin-top: 1rem;
  width: 98.5%;
  height: 70%;
  background: white;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  overflow-y: auto;
}

.editing .save-btn-wrapper {
  float: right;
}

.editing .save-btn {
  height: 7vh;
  width: 7vh;
}

.editing .save-btn:hover {
  cursor: pointer;
}

.editing h1 {
  text-align: center;
}

.editing .delete-btn {
  height: 100px;
  width: 7vh;
  min-width: 50px;
  position: absolute;
  right: 5vw;
  top: 18vh;
}

.editing .delete-btn:hover {
  cursor: pointer;
}

.img-editing {
  display: none;
  padding: 2rem;
  height: 75vh;
  width: 90%;
  min-height: 550px;
  min-width: 300px;
  margin-left: 3rem;
  background: #71B637;
  border-radius: 1rem;
}

.img-editing .close {
  font-size: 2rem;
  font-weight: bold;
}

.img-editing .close:hover {
  cursor: pointer;
}

.img-editing .close-edit {
  font-size: 2rem;
  font-weight: bold;
}

.img-editing .close-edit:hover {
  cursor: pointer;
}

.img-editing .img-content {
  margin-top: 1rem;
  margin-left: 3vw;
  width: 55vw;
  max-width: 1000px;
  height: 70%;
  background: white;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  overflow-y: auto;
}

.img-editing .img-content .img-text {
  position: relative;
  top: 47%;
  left: 38%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.img-editing .img-content .choose-img {
  display: none;
}

.img-editing .img-content .uploaded {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  margin-left: 6vw;
}

.img-editing .img-content:hover {
  cursor: pointer;
}

.img-editing .save-btn-wrapper {
  float: right;
  padding: 1rem;
}

.img-editing .save-btn {
  height: 7vh;
  width: 7vh;
}

.img-editing .save-btn:hover {
  cursor: pointer;
}

.img-editing h1 {
  text-align: center;
}

.img-editing .delete-btn {
  height: 100px;
  width: 7vh;
  min-width: 50px;
  position: absolute;
  right: 5vw;
  top: 18vh;
}

.img-editing .delete-btn:hover {
  cursor: pointer;
}

/* End styling addl button */
/*# sourceMappingURL=entrybar.css.map */