/* Additional Entries - Malhar */
/* Variables */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* colors */
/* spacing */
/* device sizes */
*:focus {
  outline: none;
}

/*Begin styling additional entry bar*/
.initial {
  height: 100%;
}

.active-bar {
  background: #FFA33F;
  height: calc(100% - 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 3.5rem;
  margin: 1rem;
  min-width: 300px;
  min-height: 100px;
  border-radius: 1rem;
}

.active-bar .close {
  text-align: left;
  font-size: 30px;
  color: black;
}

.active-bar .close:hover {
  cursor: pointer;
}

.active-bar .content {
  height: 100%;
  width: 65%;
  min-width: 100px;
  background: white;
  border-radius: 1rem;
  margin-top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active-bar .content:hover {
  overflow-x: auto;
}

#btn {
  position: absolute;
  right: 5.5vw;
  bottom: 5.5vh;
  height: 7vh;
  width: 7vh;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
}

#btn:hover {
  cursor: pointer;
}

*:focus {
  outline: none;
}

.dropdown {
  position: relative;
  height: 100%;
  display: inline-block;
}

.dropdown .new-entry {
  overflow: visible;
  width: auto;
  height: calc(4rem + 30%);
  min-height: 50px;
  margin-top: 25%;
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 60%;
  background-color: black;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown:hover .dropdown-content {
  z-index: 10;
  display: block;
  color: black;
}

.dropdown-content span:hover {
  cursor: pointer;
  background: #4AB2D6;
}

/* Links inside the dropdown */
.dropdown-content span {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*End styling additional entry bar*/
/* Begin styling text entry*/
.editing {
  display: none;
  padding: 2rem;
  height: calc(100% - 4rem);
  min-height: 600px;
  min-width: 500px;
  margin-left: 1rem;
  background: #71B637;
  border-radius: 1rem;
}

.editing .close {
  font-size: 2rem;
  font-weight: bold;
}

.editing .close:hover {
  cursor: pointer;
}

.editing .close-edit {
  font-size: 2rem;
  font-weight: bold;
}

.editing .close-edit:hover {
  cursor: pointer;
}

.editing .text-content {
  width: calc(100% - 2rem);
  height: calc(85% - 8rem);
  margin: 0.9rem 0;
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  overflow: auto;
  outline: none;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
  /*remove the resize handle on the bottom right*/
}

.editing .save-btn-wrapper {
  position: relative;
}

.editing .save-btn {
  position: absolute;
  height: 8vh;
  width: 7vh;
  min-height: 50px;
  min-width: 75px;
  right: 0.5rem;
}

.editing .save-btn:hover {
  cursor: pointer;
  background: rgba(255, 163, 63, 0.35);
}

.editing h1 {
  text-align: center;
}

.editing h1:hover {
  text-decoration: underline;
}

.editing .delete-btn-wrapper {
  position: relative;
}

.editing .delete-btn-wrapper .delete-btn {
  position: absolute;
  bottom: 0.5rem;
  height: 8vh;
  width: 7vh;
  min-height: 50px;
  min-width: 75px;
  right: 1rem;
}

.editing .delete-btn:hover {
  cursor: pointer;
}

/* End styling text entry*/
/* Begin styling image entry*/
.img-editing {
  display: none;
  padding: 2rem;
  height: calc(100% - 4rem);
  margin-left: 1rem;
  min-height: 550px;
  min-width: 300px;
  background: #71B637;
  border-radius: 1rem;
}

.img-editing .close {
  font-size: 2rem;
  font-weight: bold;
}

.img-editing .close:hover {
  cursor: pointer;
}

.img-editing .close-edit {
  font-size: 2rem;
  font-weight: bold;
}

.img-editing .close-edit:hover {
  cursor: pointer;
}

.img-editing .img-content {
  height: calc(85% - 8rem);
  margin: 1.5rem 2rem;
  background: white;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  overflow-y: auto;
}

.img-editing .img-content .img-text {
  position: relative;
  top: 47%;
  left: 38%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.img-editing .img-content .choose-img {
  display: none;
}

.img-editing .img-content .img-wrapper {
  text-align: center;
}

.img-editing .img-content .img-wrapper .uploaded {
  max-width: 70%;
  max-height: 70%;
  width: auto;
  height: auto;
}

.img-editing .img-content:hover {
  cursor: pointer;
}

.img-editing .save-btn-wrapper {
  float: right;
  padding: 1rem;
}

.img-editing .save-btn {
  height: 7vh;
  width: 7vh;
}

.img-editing .save-btn:hover {
  cursor: pointer;
}

.img-editing h1 {
  text-align: center;
}

.img-editing h1:hover {
  text-decoration: underline;
}

.img-editing .delete-btn-wrapper {
  position: relative;
}

.img-editing .delete-btn-wrapper .delete-btn {
  position: absolute;
  bottom: 0.5rem;
  height: 8vh;
  width: 7vh;
  min-height: 50px;
  min-width: 75px;
  right: 1rem;
}

.img-editing .delete-btn:hover {
  cursor: pointer;
}

/* End styling image entry*/
/*# sourceMappingURL=entrybar.css.map */