/* Sidebar - Cory */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* colors */
/* spacing */
.burger-and-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  width: 30vw;
  height: 4.2rem;
  -ms-grid-column: 1;
      grid-column-start: 1;
  max-width: 100%;
  border-radius: 0.8em;
  background: #a1b3a1;
}

.burger-and-title .burger {
  z-index: 100;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 30px;
  width: 40px;
  margin-left: 2rem;
  cursor: pointer;
}

.burger-and-title .burger .x, .burger-and-title .burger .y, .burger-and-title .burger .z {
  width: 36px;
  height: 5px;
  background: #EDEBE6;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.burger-and-title .burger .x, .burger-and-title .burger .y {
  margin-bottom: 6px;
}

.burger-and-title .burger .transformx {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(3px, -1px);
          transform: rotate(45deg) translate(3px, -1px);
  background: #232323;
}

.burger-and-title .burger .transformy {
  opacity: 0;
}

.burger-and-title .burger .transformz {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
  background: #232323;
}

.burger-and-title .side-nav-title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 2rem;
  font-weight: 600;
}

.side-nav-menu-container {
  position: relative;
  max-width: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.side-nav-menu-container .side-nav-menu {
  background: #a1b3a1;
  position: absolute;
  max-height: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  -webkit-transition: max-height 0.22s ease-in;
  transition: max-height 0.22s ease-in;
  -webkit-transition: max-height 0.1s ease-out;
  transition: max-height 0.1s ease-out;
}

.side-nav-menu-container .side-nav-menu ul a {
  color: black;
}

.side-nav-menu-container .side-nav-menu ul a:visited {
  color: black;
}

.side-nav-menu-container .side-nav-menu ul a:active {
  color: black;
}

.side-nav-menu-container .side-nav-menu ul a:hover {
  color: #EDEBE6;
}

.side-nav-menu-container .side-nav-menu ul li {
  margin: 1.4rem 0 1.4rem 0;
  padding: 0.5rem 0 0.5rem 0;
  list-style: none;
  font-size: 2em;
  cursor: pointer;
}
/*# sourceMappingURL=sidenav.css.map */