<<<<<<< HEAD
/* Typography - type scale */

html {
    font-family: $sans-serif;
    color: $dark;

    /*
    @include tablet {
        font-size: 1.2rem;
    };
    @include desktop {
        font-size: 1.5rem;
    };
    */
=======
html {
    font-family: $sans-serif;
    color: $dark;
>>>>>>> 5ec17a4ae881fc58b549800f38684cba4d782d59
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}