body {
    background: $light;
    //max-width: 1280px;
    margin: auto;
    padding: 0 3rem;

    .container {
        margin-top: 1.1rem;
        display: grid;
        grid-template-columns: 30% 70%;
        .weekly-nav-container {
            height: 80vh;
            grid-column-start: 1;
        }
        .daily-log {
            grid-column-start: 2;

            &-title {
                text-align: center;
                padding: 1rem;
            }
        }
    }

    .side-nav-container {
        display: grid;
        grid-template-rows: 20% 80%;
    }
}