body {
    //max-width: 1280px;
    background: $light;
    margin: auto;
    padding: 0 3rem;

    .container {
        margin-top: 0;
        display: grid;
        grid-template-columns: 30% 70%;
        //margin-top: 4rem;
        .weekly-nav-container {
            grid-column-start: 1;
            display: inline-block;
            height: calc(100vh - 4rem);
            // flex-direction: column;
            // display: grid;
            // grid-template-rows: 10% 90%;
        }
        .daily-log {
            display: flex;
            flex-direction: column;
            height: calc(100vh - 4rem);
            grid-column-start: 2;
            padding-top: 4rem;

            &-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 1rem;

                i {
                    font-size: 1.5rem;
                    padding: 0 1rem;

                    &:hover {
                        color: grey;
                        cursor: pointer;
                    }
                }
            }

            .additional {
                padding: 1rem 1rem 0rem 1rem;
            }
        }
    }

    .side-nav-container {
        display: grid;
        //grid-template-columns: 30% 70%;
    }
}

/* style logo */
.logo {
    position: absolute;
    padding: 1rem 5rem;
    right: 0;
    z-index: -1;
}