/* fonts */
$sans-serif: "Helvetica", "Arial", sans-serif;
$serif: "Georgia", "Times New Roman", serif;
$mono: "Menlo", monospace;

/* colors */
$light: #fcfcfc;
$dark: #181A18;

/* spacing */