/* Main Text - Manda */
.main-text-container {
    height: 65vh;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 1rem;
    background: white;

    .main-text {
        height: calc(100% - 2rem);
        width: calc(100% - 2rem);
        overflow-y: scroll;
        padding: 1rem;
        background: white;
        scroll-behavior: smooth;
    }
}

/* dark mode */
body.dark-mode {

    .main-text-container {
        background: $dark2;

        .main-text {
            background: $dark2;
        }
    }
}