/* Main Text - Manda */
.main-text {
    height: 65vh;
    border-radius: 1rem;
    background: white;
    padding: 2rem;
<<<<<<< HEAD
    margin: 1rem;
=======
    margin: 0 1rem;
>>>>>>> 4bb7c8e8566d26ae52bc05c4e0d23aae26a42765
}