/* Additional Entries - Malhar */

@import '../abstracts/mixins', '../abstracts/variables';

/* Begin styling addl button */
.addl-entries-btn{
    background: $accent;
    height: 70px;
    display: grid;
    padding-left: 10px;
    padding-top: 10px;
    width: 85%;
    margin-left: 6%;
    border-radius: 1rem;

    #btn-text{
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        grid-column-start: 6;
        grid-column-end: 9;
    }
    #btn{
        height: 55px;
        width: 55px;
        border: 2px solid black;
        background: $accent; // #E5E5E5;
        border-radius: 50%;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    #btn:hover{
        cursor: pointer;
        background-color: white;
    }
   #btn::before {
    content: " ";
    display: block;
    background-color: black;
    position: absolute;
    width: 15px;
    height: 2px;
    margin-left: 13px;
    }
    #btn::after {
        content: " ";
        display: block;
        background-color: black;
        position: absolute;
        width: 15px;
        height: 2px;
        margin-left: 13px;
        transform: rotate(90deg);
        margin-top: 0px;
    }
  
}
/* End styling addl button */
