/* Bullet Input */
@import '../abstracts/mixins', '../abstracts/variables';

/* bullet input container */
.new-bullet {
    border-radius: 0.25rem;
    background-color: $light;
}

input[type=text], select, button {
    padding: 0.5rem;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}

select, button {
    cursor: pointer;
}

/* adjust width of input text to accomodate bullet selector and padding */
input[type=text] {
    width: calc(100% - 40px - 4rem);
}

/* style bullet selector */
select {
    width: calc(40px + 3rem);
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align-last: right;
}

/* dark mode */
.dark-mode {
    background: $dark;

    #bullet-type, #bullet-input {
        color: white;
    }
}