/* Additional Entries - Malhar */

@import '../abstracts/mixins', '../abstracts/variables';

/* Begin styling addl button */

.active-bar{
    background: $accent2;
    height: 20vh;
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    margin-left: 1.8rem;

    .close{
        text-align: left;
        font-size: 30px;
        color: black;
    }
    .close:hover{
        cursor: pointer;
    }

    .content{
        height: 13vh;
        width: 65%;
        min-width: 55%;
        background: white;
        border-radius: 1rem;
        margin-top: 0;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        padding: 0 1rem 3rem 1rem;
    }
    .new-entry{
        overflow: visible;
        width: 8rem;
        height: 5rem;
        margin-top: 2rem;
    }
    .new-entry:hover{
        cursor: pointer;
    }

}
.inactive-bar{
    width: 3vw;
    height: 3vw;
    min-width: 3vw;
    min-height: 3vw;
    margin: 0 1rem 2rem;
    background: transparent;
    border-radius: 1vw;
    padding: 0.2rem;
    float: right;
    display: grid;
    justify-content: center;
    white-space: nowrap;   
}
.inactive-bar:hover{
    cursor: pointer;
}
#btn{
    height: 7vh;
    width: 7vh;
    grid-column-start: 2;
    grid-column-end: 5;
}
#btn:hover{
    cursor: pointer;
}

*:focus{
    outline: none;
}
.editing{
    display: none;
    padding: 2rem;
    height: 75vh;
    width: 90%;
    min-height: 550px;
    min-width: 300px;
    margin-left: 3rem;
    background: $accent;
    border-radius: 1rem;
    
    .close{
        font-size: 2rem;
        font-weight: bold;
    }
    .close:hover{
        cursor: pointer;
    }
    .close-edit{
        font-size: 2rem;
        font-weight: bold;
    }
    .close-edit:hover{
        cursor: pointer;
    }
    .text-content{
        margin-top: 1rem;
        width: 98.5%;
        height: 70%;
        background: white;
        border-radius: 1rem;
        padding-top: 1rem;
        padding-left: 0.5rem;
        overflow-y: auto;
        
    }
    .save-btn-wrapper{
        float: right;
    }
    .save-btn{
        height: 7vh;
        width: 7vh;
    
    }
    .save-btn:hover{
        cursor: pointer;
    }

    h1{text-align: center;
    }

    .delete-btn{
        height: 100px;
        width: 7vh;
        min-width: 50px;
        position: absolute;
        right: 6rem;
        top: 10rem;
    }
    .delete-btn:hover{
        cursor: pointer;
    }

}

/* End styling addl button */
