/* Additional Entries - Malhar */

@import '../abstracts/mixins', '../abstracts/variables';

/* Begin styling addl button */

.active-bar{
    background: $accent;
    height: 20vh;
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    margin-left: 1.8rem;

    .close{
        text-align: left;
        font-size: 30px;
        color: black;
    }
    .close:hover{
        cursor: pointer;
    }

    .content{
        height: 15vh;
        width: 65%;
        min-width: 55%;
        background: white;
        border-radius: 1rem;
        margin-top: 0;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        padding: 0 1rem 2rem 1rem;
    }
    .new-entry{
        overflow: visible;
        width: 4rem;
        height: 5rem;
        margin-top: 1rem;
    }
    .new-entry:hover{
        cursor: pointer;
    }

}
.inactive-bar{
    width: 3vw;
    height: 3vw;
    min-width: 3vw;
    min-height: 3vw;
    margin: 0 1rem 2rem;
    background: transparent;
    border-radius: 1vw;
    padding: 0.2rem;
    float: right;
    display: grid;
    justify-content: center;
    white-space: nowrap;   
}
.inactive-bar:hover{
    cursor: pointer;
}
#btn{
    height: 55px;
    width: 55px;
    border: 2px solid black;
    background: $accent; // #E5E5E5;
    border-radius: 50%;
    grid-column-start: 2;
    grid-column-end: 5;
}
#btn:hover{
    cursor: pointer;
}
#btn::before {
content: " ";
display: block;
background-color: black;
position: absolute;
width: 15px;
height: 2px;
margin-left: 13px;
}
#btn::after {
    content: " ";
    display: block;
    background-color: black;
    position: absolute;
    width: 15px;
    height: 2px;
    margin-left: 13px;
    transform: rotate(90deg);
    margin-top: 0px;
}
*:focus{
    outline: none;
}
.editing{
    display: none;
    padding: 2rem;
    height: 85vh;
    width: 90%;
    margin-left: 3rem;
    background: $accent;
    border-radius: 1rem;
    h1{
        text-align: center;
    }
    .close{
        font-size: 2rem;
        font-weight: bold;
    }
    .close:hover{
        cursor: pointer;
    }
    .close-edit{
        font-size: 2rem;
        font-weight: bold;
    }
    .close-edit:hover{
        cursor: pointer;
    }
    .text-content{
        margin-top: 1rem;
        width: 98.5%;
        height: 70%;
        background: white;
        border-radius: 1rem;
        padding-top: 1rem;
        padding-left: 0.5rem;
        overflow-y: auto;
        
    }
    .save-btn{
        width: 5%;
        float: right;
    }
    .save-btn:hover{
        cursor: pointer;
    }
}

.note{
    overflow: visible;
    width: 4rem;
    height: 5rem;
    margin-right: 7rem;
    padding-top: 1.5rem;
}
.note:hover{
    cursor: pointer;
}

.tooltip{
    position: relative;
    .tooltiptext{
        position: absolute;
        top: 10px;
    }
}
::-webkit-scrollbar {
    height: 10px;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #616161; 
    border-radius: 10px;
}
    

/* End styling addl button */
