@import '../abstracts/mixins', '../abstracts/variables', '../base/reset', '../base/typography';

#help-section {
    line-height: 1.5;
    padding-bottom: 1rem;
    max-width: fit-content;
    &-title, &-description > p {
        padding-bottom: 1rem;
    }
    #help-section-elements {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: auto;
        column-gap: 2%;
        padding-bottom: 1rem;
    }
}