@import '../abstracts/mixins', '../abstracts/variables';
/* Begin styling new entry modal*/
*:focus{
    outline: none;
}

.new-entry-modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 600px; 
    overflow: auto; 
    overflow-y: auto;
  }

  .modal-content {
    background: $accent;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid black;
    width: 70%; 
    height: 70%;
    border-radius: 1rem;
    
    .close{
        font-size: 30px;
        color: black;
    }
    .close:hover{
        cursor: pointer;
        color:grey;
    }
    h1{
        text-align: center;
    }
    .options{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 200px;
        text-align: center;
        #note{
            font-size: 30px;
        }
        #note:hover{
            cursor: pointer;
            color: rgb(83, 83, 83);
        }
        #media{
            font-size: 30px;
        }
        #media:hover{
            cursor: pointer;
            color: rgb(83, 83, 83);
        }
    }
}
/* End styling new entry modal*/
  
/* Begin styling text modal*/
.text-modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 650px;
  }

  .text-modal-content {
    border-radius: 1rem;
    background: $accent;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
    height: 70%;
    
    .close{
        font-size: 30px;
    }
    .close:hover{
        cursor: pointer;
        color:rgb(83, 83, 83);
    }
    h1{
        text-align: center;
    }
    .elements{
        background: white;
        height: inherit;
        width: 100%;
        margin:0;
        padding-top: 10px;
        border-radius: 1rem;
        #text-area{
            height: 90%;
            width: inherit;
            margin:0;
            overflow: auto;
        }
        #text-area:hover{
            cursor: text;
        }
    }
    .text-options{
        display: grid;
        grid-template-columns: 50% 50%;
        #save{
            text-align: center;
            font-weight: bold;
            font-size: 25px;
            color:black;
            
        }
        #save:hover{
            cursor: pointer;
            color: grey;
        }
        #cancel{
            text-align: center;
            font-weight: bold;
            font-size: 25px;
            color:black;
        }
        #cancel:hover{
            cursor: pointer;
            color: grey;
        }
    }
    
}
/*End styling text modal*/

/*Begin styling upload media modal*/
.pic-modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 650px; 

  }

  .pic-modal-content {
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    background: $accent;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
    height: 70%;
    #img-save{
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        
    }
    #img-save:hover{
        cursor: pointer;
        color:rgb(83, 83, 83);
    }
    #img-cancel{
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
    #img-cancel:hover{
        cursor: pointer;
        color:rgb(83, 83, 83);
    }
}
/*End styling upload media modal*/

/*Begin styling saved entries*/
.saved_entries{
    padding-left: 10rem;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    
    .new-entry{
        padding-left: 10px;
        display: inline-block;
        canvas{
            z-index: 1;
            width: 90%;
            min-width: 150px;
            height: 150px;
            border: 1px solid black;
        }
        .close{
            color: black;
            font-weight: bold;
            padding-left: 3px;
            position: absolute;
            z-index: 2;
            font-size: 20px;
        }
        .close:hover{
            cursor: pointer;
            color:rgb(83, 83, 83);
        }
    }
}
.saved_entries::-webkit-scrollbar {
    height: 8px;               /* width of the entire scrollbar */
  }

  .saved_entries::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }
/*End styling saved entries*/