/* Sidebar - Cory */

@import '../abstracts/mixins', '../abstracts/variables';
//TODO: Replace menu colors with variables
.burger-and-title{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 30vw;
    height: 4.2rem;
    grid-column-start: 1;
    max-width: 100%;
    border-radius: 0.8em;
    background: $accent;
    .burger{
        z-index: 100;
        order:1;
        height: 30px; 
        width: 40px;
        margin-left: 2rem;
        cursor: pointer;
        .x,.y,.z{
            width: 36px;
            height: 5px;
            background: $light;
            border-radius: 3px;
            z-index: 1;

            transform-origin: 4px 0px;
            
            transition: transform 0.4s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.4s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
        }
        .x,.y{
            margin-bottom: 6px;
        }

        .transformx{
            opacity: 1;
            transform: rotate(45deg) translate(3px, -1px);
            background: #232323;
        }
        .transformy{
            opacity: 0;
        }
        .transformz{
            transform: rotate(-45deg) translate(0, -1px);
            background: #232323;
        }
    }
    .side-nav-title{
        order: 2;
        margin-left: 2rem;
        font-weight: 600;
    }

}


.side-nav-menu-container{
    position: relative;
    max-width: 100%;
    grid-column-start: 1;
    .side-nav-menu{
        background: $accent;
        position: absolute;
        max-height: 0;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        border-bottom-left-radius: 0.8em;
        border-bottom-right-radius: 0.8em;
        transition: max-height 0.4s ease-in-out;
        ul{
            a{
                color:black;
                &:visited{
                    color: black;
                }
                &:active{
                    color:black;
                }
                &:hover{
                    transition: color 0.25s linear;
                    color: $light;
                }
            }
            li{
                margin: 1.4rem 0 1.4rem 0;
                padding: 0.5rem 0 0.5rem 0;
                list-style: none;
                font-size: 2em;
                cursor: pointer; 
            }
        
        }
    }
}



