/* Sidebar */

@import '../abstracts/mixins', '../abstracts/variables';

/* closed side nav bar */
.burger-and-title{
    display: flex;
    align-items: center;
    height: 4rem;
    max-width: 100%;
    margin: 1rem 0 0 0;
    padding-bottom: 0;
    border-radius: 0.8em;
    background: $accent2;
    /* burger button */
    .burger{
        z-index: 100;
        order:1;
        height: 30px; 
        width: 40px;
        margin-left: 2rem;
        cursor: pointer;
        /* individual spans represent a burger layer */
        .x,.y,.z{
            z-index: 1;
            width: 36px;
            height: 5px;
            background: white;
            border-radius: 3px;

            transform-origin: 4px 0px; 
            transition: transform 0.4s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.4s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
        }
        .x,.y{
            margin-bottom: 6px;
        }
        /* rotate top span */
        .transformx{
            opacity: 1;
            transform: rotate(45deg) translate(3px, -1px);
            background: white;
        }
        /* make middle span disappear */
        .transformy{
            opacity: 0;
        }
        /* rotate bottom span */
        .transformz{
            transform: rotate(-45deg) translate(0, -1px);
            background: white;
        }
    }
    .side-nav-title{
        order: 2;
        margin-left: 2rem;
        font-weight: 600;
        color:white;
    }
}

/* expanded menu */
.side-nav-menu-container{
    z-index: 100;
    position: relative;
    max-width: 100%;

    .side-nav-menu{
        position: absolute;
        max-height: 0;
        height: calc(100vh - 6.5rem);
        width: 100%;
        overflow: hidden;
        border-bottom-left-radius: 0.8em;
        border-bottom-right-radius: 0.8em;
        background: $accent2;

        transition: max-height 0.4s ease-in-out;

        /* list of links in expanded menu */
        ul{
            .sn-link{
                color:white;
                &:hover{
                    transition: color 0.25s linear;
                    color: black;
                }
            }
            li{
                margin: 1.4rem 0 1.4rem 0;
                padding: 0.5rem 0 0.5rem 0;
                list-style: none;
                font-size: 2em;
                cursor: pointer; 
            }
        
        }

        /* bottom section of expanded section */
        .settings {
            bottom: 0;
            position: absolute;
            display: flex;
            width: calc(100% - 80px);
            padding: 40px;
            ul, li {
                margin: 0;
                padding: 0
            }
            ul {
                width: 50%;
            }
        }
        /* dark mode light mode toggle */
        .color-mode-container {
            width: 50%;
            text-align: right;
            svg {
                width: 2rem;
                height: 2rem;
                cursor: pointer;
                fill: white;
                &:hover {
                    fill: black;
                }
            }
        }
    }
}



