/*text entry icon*/
.note{
    height: 8rem;
    overflow: visible;
    width: auto;
    min-height: 50px;
    margin: 3vh 0 0 2vw;
    cursor: pointer;
}

/*image entry icon*/
.image{
    height: 8rem;
    overflow: visible;
    width: auto;
    min-height: 50px;
    margin: 3vh 0 0 2vw;
    cursor: pointer;
}

/*Entry title*/
.tooltip{
    position: relative;
    .tooltiptext{
        position: absolute;
        top: -2vh;
        left: 2vw;
        font-weight: bold;
        font-size: 1rem;
        overflow-wrap: break-word;
    }
}

/*Scrollbar*/
::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(182, 182, 182);
    border-radius: 10px;
}

