.note{
    overflow: visible;
    width: 8rem;
    height: 10vh;
    margin-top: 3vh;
    margin-right: 1rem;
    

}
.note:hover{
    cursor: pointer;
}

.tooltip{
    position: relative;
    .tooltiptext{
        position: absolute;
        bottom: 10.5vh;
        left: 1vw;
        font-weight: bold;
        font-size: 1rem;
    }
}
::-webkit-scrollbar {
    height: 10px;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #616161; 
    border-radius: 10px;
}
    
