/* To Do */
@import '../abstracts/mixins', '../abstracts/variables';

/* top of todo list title */
.todo-title{
	margin: 1.5rem 0 0.5rem 0.9rem;
	font-weight: 500;
	font-size: 1.5em;
}
/* outermost container */
.todo-container{
    z-index: -1;
	height: calc(100% - 2rem);
    padding: 0.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
	background: $accent;
	/* container holding todo items and that allows for scrolling */
    .scroll-container{
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        height: calc(100% - 3.5rem);
        margin: 0.5rem;
        padding-right: 0.3rem;
        /* Dark mode */
        .dark-mode.todo-item{
          background: $dark;
        }
		/* each todo item in list */
        .todo-item{
			display: flex;
            margin: 0.4rem;
			border-radius: 0.5rem;
            background: white;
			/* styling for no item box */
            .no-items{
				padding: 1rem 2rem;
				font-size: 1.5em;
				font-weight: bold;
				pointer-events: none;
            }
			/* date of todo item */
            .todo-date{                       
                pointer-events: none;
				height: 100%;
				width: 5vw;
                min-width: 7.5rem;
				margin: 0.6rem 0 0 0.6rem;
				pointer-events: none;
                #day-of-month{
                    font-size: 1.1em;
                    font-weight: bold;
                }
                #day-of-week{
                      padding: 0 0.35em;
                      font-family: $sans-serif;
                      font-weight: lighter;
                      font-size: 1.1em;
                }
            }
			/* container of todo bullet list */
            .todo-bullets-container{
                flex-grow: 2;
                margin: 0.4rem;
                overflow-y: none;
                svg {
                    height: 1em;
                    width: 1em;
                    padding-right: 0.5rem;
                }
                .todo-bullet{
                  margin:0.3rem;
                }
            }
        }
    }

	/* custom scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
        position: relative;
        top: 50px;
    }
      
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        border-radius: 6px; 
    }
       
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(182, 182, 182);
        border-radius: 6px; 
    }
      
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $accent2;
    }
    
}
