/* Weekly Nav - Cory */
@import '../abstracts/mixins', '../abstracts/variables';

.weekly-nav-title{
    transition: opacity 0.15s linear;
    margin-top: 1.4rem; //Fix this later
    margin-bottom: 0.5rem;
    margin-left: 0.9rem;
    font-weight: 500;
    font-size: 1.5em;
}               		
.week-container{
    transition: opacity 0.15s linear;
    background: $accent;
    z-index: -1;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    height: 80vh;
    flex-direction: column;

    .wn-item{
        min-height: 0;
        margin: 0.4rem;
        flex: 1 1 0;
        display: flex;
        background: white;
        border-radius: 0.4rem;
        transition: border-left 0.15s linear;

        //Ideas for hover/onclick behavior
        //Hover whole item highlights clickable part
        //only hover clickable part
        //click date
        &:hover{
            transition: filter 0.15s linear;
            filter: brightness(85%);
        }
        .wn-date{
            
            pointer-events: none;
            margin-top: 0.6rem;
            margin-left: 0.6rem;
            width: 30%;
            height: 100%;
            //grid-column-start: 1;
            #day-of-month{
              font-size: 1.1em;
              font-weight: bold;
            }
            #day-of-week{
                padding: 0 0.35em;
                font-family: $sans-serif;
                font-weight: lighter;
                font-size: 1.1em;
            }
        }
        .wn-bullets-container{
            flex-grow: 2;
            margin: 0.4rem;
            overflow-y: hidden;
            &:hover{
              overflow-y: auto;
            }
            .wn-bullet{
              margin:0.2rem;
            }
        }

        p {
            position: absolute;
            visibility:hidden;
        }
        /* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(182, 182, 182);
    border-radius: 6px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $accent
  }
    }
}