/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$sans-serif: "Montserrat", "Helvetica", "Arial", sans-serif;
$serif: "Georgia", "Times New Roman", serif;
$mono: "Menlo", monospace;

/* colors */

$light: #E5E5E5;
$accent: #71B637;
$accent2: #FFA33F;
$dark: #181A18;

/* spacing */

/* device sizes */
$laptop-width: 1124px;
$desktop-width: 1200px;